:root {
  --color-primary: #7a3a9f;
  --color-secondary: #ffb95d;
  --color-secondary-light: #ffd5a7;
  --color-terciary: #ff9fb5;
  --color-white: #fff6f0;
  --color-gray-light: #ececec;
  --color-gray: #a8a8a8;
  --color-gray-dark: #616161;
}
