:root {
  --color-primary: #334958;
  --color-secondary: #f1c871;
  --color-terciary: #ec8052;
  --color-terciary-dark: #c14f1e;
  --color-gray-light: #ececec;
  --color-gray: #a8a8a8;
  --color-gray-dark: #616161;
}
