.userCard {
  background-color: var(--color-secondary);
  margin: 0.4rem;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;

  &__beers {
    &--icon {
      margin-left: 0.6rem;
    }
  }
}
