:root {
  --box-margin-h: 3rem;
  --shadow-trans: 1rem;
  --box-margin: var(--box-margin-h) auto
    calc(var(--box-margin-h) + var(--shadow-trans));
}

img {
  width: 100%;
}

.full {
  width: 100%;
}

.mid {
  width: calc(50% - 1rem);
}
