@import "colors/colors";
@import "fonts/fonts";
@import "layout/layout";
@import "mixin/mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  color: var(--color-primary);
  background-color: var(--color-secondary-light);
  @include custom-scroll(1rem, var(--color-primary));
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.container {
  &__box {
    border-radius: 20px;
    width: 100%;
    box-shadow: var(--shadow-trans) var(--shadow-trans) 0 var(--color-terciary);
    @include flex-center;
    flex-wrap: wrap;

    @media all and (min-width: 480px) {
      width: 80%;
      overflow: hidden;
      margin: var(--box-margin);
      flex-direction: row;
    }

    @media all and (min-width: 1024px) {
      width: 65%;
    }

    &--info,
    &--list {
      width: 100%;
      @media all and (min-width: 768px) {
        width: 50%;
      }
    }
  }
}
