<form action="" class="userForm" [formGroup]="beerForm">
  <h2 class="userForm__title">¿A quién le gusta la cerveza?</h2>
  <div class="userForm__formGroup full">
    <input
      type="text"
      name="name"
      id="name"
      formControlName="name"
      required
      maxlength="30"
      class="userForm__formGroup--textBox"
    />
    <label class="userForm__formGroup--label" for="name">
      Nombre
      <span
        class="userForm__formGroup--label-error"
        *ngIf="
          beerForm.controls['name'].invalid &&
          (beerForm.controls['name'].dirty || beerForm.controls['name'].touched)
        "
      >
        Este campo es obligatorio. Máximo 30 caracteres.
      </span>
    </label>
  </div>
  <div class="userForm__formGroup mid">
    <input
      required
      type="tel"
      name="tel"
      formControlName="tel"
      maxlength="9"
      minlength="9"
      id="tel"
      class="userForm__formGroup--textBox"
    />
    <label for="tel" class="userForm__formGroup--label">
      Teléfono
      <span
        class="userForm__formGroup--label-error"
        *ngIf="
          beerForm.controls['tel'].invalid &&
          (beerForm.controls['tel'].dirty || beerForm.controls['tel'].touched)
        "
      >
        Debe tener 9 cifras.
      </span>
    </label>
  </div>
  <div class="userForm__formGroup mid">
    <input
      required
      type="date"
      name="dob"
      id="dob"
      formControlName="dob"
      class="userForm__formGroup--textBox"
    />
    <label for="dob" class="userForm__formGroup--label">
      Cumpleaños
      <span
        class="userForm__formGroup--label-error"
        *ngIf="
          beerForm.controls['dob'].invalid &&
          (beerForm.controls['dob'].dirty || beerForm.controls['dob'].touched)
        "
      >
        Es obligatorio.
      </span>
    </label>
  </div>
  <div class="userForm__formGroup full">
    <div class="userForm__formGroup--radio">
      <input
        required
        type="radio"
        id="hombre"
        name="gender"
        formControlName="gender"
        value="hombre"
        class="userForm__formGroup--radio-radio"
      />
      <span class="userForm__formGroup--radio-visual"></span>
      <label for="hombre" class="userForm__formGroup--radio-label"
        >Hombre</label
      >
    </div>
    <div class="userForm__formGroup--radio">
      <input
        required
        type="radio"
        id="mujer"
        name="gender"
        formControlName="gender"
        value="mujer"
        class="userForm__formGroup--radio-radio"
      />
      <span class="userForm__formGroup--radio-visual"></span>
      <label for="mujer" class="userForm__formGroup--radio-label">Mujer</label>
    </div>
    <span class="userForm__formGroup--label">Género</span>
  </div>
  <p class="userForm__bigQ">¿Qué cervezas te gustan?</p>
  <div class="userForm__formCheck">
    <div
      class="userForm__formCheckBox"
      formArrayName="favBeers"
      *ngFor="let beer of beers; let i = index"
    >
      <input
        class="userForm__formCheckBox--box"
        type="checkbox"
        name="beers"
        value="{{ beer.id }}"
        id="beer_{{ beer.name }}"
        (change)="onChangeBeer($event)"
        [checked]="false"
      />
      <span class="userForm__formCheckBox--visual"></span>
      <label class="userForm__formCheckBox--label" for="beer_{{ beer.name }}">{{
        beer.name
      }}</label>
    </div>
  </div>

  <button
    [disabled]="!beerForm.valid"
    (click)="onSubmit()"
    class="userForm__submit"
  >
    Añadir
  </button>
</form>
