<form action="" class="userForm" [formGroup]="beerForm">
  <h2 class="userForm__title">¿A quién le gusta la cerveza?</h2>
  <div class="userForm__formGroup">
    <label class="userForm__formGroup--label" for="name">Nombre</label>
    <input
      type="text"
      name="name"
      id="name"
      formControlName="name"
      maxlength="30"
      class="userForm__formGroup--textBox"
    />
  </div>
  <div class="userForm__formGroup">
    <label for="tel" class="userForm__formGroup--label">Teléfono</label>
    <input
      type="tel"
      name="tel"
      formControlName="tel"
      maxlength="9"
      minlength="9"
      id="tel"
      class="userForm__formGroup--textBox"
    />
  </div>
  <div class="userForm__formGroup">
    <label for="dob" class="userForm__formGroup--label">Cumpleaños</label>
    <input
      type="date"
      name="dob"
      id="dob"
      formControlName="dob"
      class="userForm__formGroup--textBox"
    />
  </div>
  <div class="userForm_formGroup">
    <span class="userForm__formGroup--label">Género</span>
    <input
      type="radio"
      id="hombre"
      name="gender"
      formControlName="gender"
      value="hombre"
    />
    <label for="hombre">Hombre</label>
    <input
      type="radio"
      id="mujer"
      name="gender"
      formControlName="gender"
      value="mujer"
    />
    <label for="mujer">Mujer</label>
  </div>
  <p class="userForm__bigQ">¿Qué cervezas te gustan?</p>
  <div
    class="userForm__formCheck"
    formArrayName="favBeers"
    *ngFor="let beer of beers; let i = index"
  >
    <input
      type="checkbox"
      name="beers"
      value="{{ beer.id }}"
      id="beer_{{ beer.name }}"
      (change)="onChangeBeer($event)"
      [checked]="false"
    />
    <label for="beer_{{ beer.name }}"></label>
    {{ beer.name }}
  </div>
  <button (click)="onSubmit()">Añadir</button>
</form>
